@model BroomServiceWeb.ViewModels.LoginViewModel
@using BroomServiceWeb.Resources

@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_AdminLoginLayout.cshtml";
}

<div class="title">@Resource.forgot_your_password</div>
@using (Html.BeginForm("ForgotPassword", "Admin", FormMethod.Post, new { @class = "login-form" }))
{
    if (TempData["ErrorMsg"] != null)
    {
        <div class="alert alert-danger" role="alert">
            @TempData["ErrorMsg"]
        </div>
    }
    if (TempData["SuccessMsg"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["SuccessMsg"]
        </div>
    }
    <form>
        <div class="form-group">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = Resource.enteremail })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>


        <button type="submit" class="btn btn-primary submit-button">@Resource.submit</button>
    </form>
}

