@model BroomServiceWeb.Models.ContactU
@using BroomServiceWeb.Resources;
@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/_WebMainLayout.cshtml";
}
<div id="add_properties_main" class="add_properties_main">
    <div class="container-fluid">
        <h2 class="text-center">@Resource.contact_us</h2>
        <h5 class="text-center"></h5>
        <div class="row no-gutters notifications_main_ul">
            <div class="col-md-8">
                <div class="p-3">
                    @using (Html.BeginForm("ContactUs", "Profile", FormMethod.Post, new { @class = "row" }))
                    {
                        if (TempData["ErrorMsg"] != null)
                        {
                            <div class="alert alert-danger col-md-12" role="alert">
                                @TempData["ErrorMsg"]
                            </div>
                        }
                        if (TempData["SuccessMsg"] != null)
                        {
                            <div class="alert alert-success col-md-12" role="alert">
                                @TempData["SuccessMsg"]
                            </div>
                        }

                        <div class="col-md-12 mb-3">
                            <div class="form-group">
                                <label>@Resource.name</label>
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control input_csutom",
                               placeholder = Resource.enter_name, @required = "required" })
                            </div>
                        </div>

                        <div class="col-md-12 mb-3">
                            <div class="form-group">
                                <label>@Resource.email</label>
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control input_csutom",
                               placeholder = Resource.enter_email, @required = "required",@type="email"})
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <div class="form-group">
                                <label>@Resource.message</label>
                                @Html.TextAreaFor(m => m.Message, new { @class = "form-control input_csutom_textarea",
                               placeholder = Resource.enter_message, @required = "required",@rows="5" })
                            </div>
                        </div>

                        <div class="col-12 mt-2 mb-3 text-center">
                            <button type="submit" class="property_submit">
                                @Resource.send
                            </button>
                        </div>
                    }
                </div>
            </div>
            <div class="col-md-4 pl-md-5 pl-0">
                <div class="settings_notification_image">
                    <div class="w-100 text-center">
                        <img src="~/Images/contact_mail.png" alt="settings" class="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>